<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beaconizer(Business).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>764742321E14EB7400CE1D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764742461E14EB7400CE1D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>764742511E14EB7400CE1D5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
