<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>498007984547-megcsg5jbjjjqn8relf3rq9436q6isds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498007984547-megcsg5jbjjjqn8relf3rq9436q6isds</string>
	<key>API_KEY</key>
	<string>AIzaSyCoWso37y8ch7TM-97AaEMZomKqfmXJnyE</string>
	<key>GCM_SENDER_ID</key>
	<string>498007984547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gagan.Beaconizer-Business-</string>
	<key>PROJECT_ID</key>
	<string>beaconizer-f8c20</string>
	<key>STORAGE_BUCKET</key>
	<string>beaconizer-f8c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:498007984547:ios:760f945c2aacbc70</string>
	<key>DATABASE_URL</key>
	<string>https://beaconizer-f8c20.firebaseio.com</string>
</dict>
</plist>