<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beaconizer(Client).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>760ECEA41E1520F200639B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>760ECEB81E1520F200639B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>760ECEC31E1520F200639B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
